In [2]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import ipywidgets as widgets

In [3]:
global_temp_country = pd.read_csv('Datasets/Surface Temperatures/GlobalLandTemperaturesByCountry.csv')
global_temp_country["dt"] = pd.to_datetime(global_temp_country["dt"])

df = global_temp_country
df['year'] = df['dt'].dt.year
df = df.groupby(['Country', 'year'])['AverageTemperature'].mean().unstack()

countries = df.index

In [4]:
df = pd.read_csv('Datasets/Surface Temperatures/ParsedSurfaceTemp.csv')
np.sum(~df["2013"].isna())

242

In [5]:
global_temp_country[pd.Series(np.array(global_temp_country["Country"] == "India")  & np.array(global_temp_country["dt"].dt.year == 2010))]

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
246263,2010-01-01,17.109,0.326,India,2010
246264,2010-02-01,20.764,0.221,India,2010
246265,2010-03-01,26.373,0.309,India,2010
246266,2010-04-01,29.814,0.174,India,2010
246267,2010-05-01,31.169,0.166,India,2010
246268,2010-06-01,29.908,0.142,India,2010
246269,2010-07-01,27.433,0.165,India,2010
246270,2010-08-01,26.892,0.229,India,2010
246271,2010-09-01,26.296,0.200,India,2010
246272,2010-10-01,25.193,0.208,India,2010
246273,2010-11-01,22.204,0.147,India,2010
246274,2010-12-01,17.455,0.195,India,2010

In [6]:
global_temp_country[global_temp_country["Country"] == "India"]

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
243695,1796-01-01,17.044,2.044,India,1796
243696,1796-02-01,19.193,1.359,India,1796
243697,1796-03-01,22.319,2.125,India,1796
243698,1796-04-01,27.233,1.510,India,1796
243699,1796-05-01,30.035,1.338,India,1796
...,...,...,...,...,...
246303,2013-05-01,31.014,0.205,India,2013
246304,2013-06-01,28.766,0.299,India,2013
246305,2013-07-01,27.012,0.197,India,2013
246306,2013-08-01,26.555,0.242,India,2013
246307,2013-09-01,NaN,NaN,India,2013

In [7]:
def getMeanTemperature(year):
    return np.array(df[year])

In [8]:
min_year = global_temp_country['dt'].min().year
max_year = global_temp_country['dt'].max().year
initial_year = min_year
initial_year_data = getMeanTemperature(str(initial_year))

In [9]:
globe = go.FigureWidget(data=go.Choropleth(
    locations=countries,
    z=initial_year_data,
    locationmode='country names',
    # text=countries,
    marker=dict(line=dict(color='rgb(0,0,0)', width=1)),
    colorscale='RdBu_r',
    zmin=global_temp_country['AverageTemperature'].min(),   
    zmax=global_temp_country['AverageTemperature'].max(),
))

globe.update_layout(
    title='Average land temperature in countries',
    geo=dict(
        showframe=False,
        showocean=True,
        oceancolor='rgb(0,155,255)',
        projection=dict(
            type='orthographic',
            rotation=dict(
                lon=60,
                lat=10),
        ),
        lonaxis=dict(
            showgrid=True,
            gridcolor='rgb(102, 102, 102)'
        ),
        lataxis=dict(
            showgrid=True,
            gridcolor='rgb(102, 102, 102)'
        )
    ),
    width=800,
    height=600,
);

In [10]:
with open('countries.txt', 'w') as f:
    f.write(str(np.array(countries)))

In [11]:
slider = widgets.IntSlider(
    value=min_year,
    min=min_year,
    max=max_year,
    step=1,
    description='Year:',
    disabled=False,
    # continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)

def sliderBehaviour(year):
    mean_temp = getMeanTemperature(year)
    with globe.batch_update():
        globe.data[0].z = mean_temp

slider.observe(lambda change: sliderBehaviour(change['new']), names='value')

In [12]:
widgets.VBox([slider, globe])

VBox(children=(IntSlider(value=1743, description='Year:', max=2013, min=1743), FigureWidget({
    'data': [{'c…

In [13]:
global_temp_country[global_temp_country['Country'] == 'India']

,dt,AverageTemperature,AverageTemperatureUncertainty,Country,year
243695,1796-01-01,17.044,2.044,India,1796
243696,1796-02-01,19.193,1.359,India,1796
243697,1796-03-01,22.319,2.125,India,1796
243698,1796-04-01,27.233,1.510,India,1796
243699,1796-05-01,30.035,1.338,India,1796
...,...,...,...,...,...
246303,2013-05-01,31.014,0.205,India,2013
246304,2013-06-01,28.766,0.299,India,2013
246305,2013-07-01,27.012,0.197,India,2013
246306,2013-08-01,26.555,0.242,India,2013
246307,2013-09-01,NaN,NaN,India,2013

In [106]:
parsed = pd.read_csv('Datasets/Surface Temperatures/ParsedSurfaceTemp.csv')

In [112]:
parsed.iloc[:,1:].mean(axis=0).to_csv('Datasets/Surface Temperatures/GlobalMeanTemp.csv')

In [16]:
gta = pd.read_csv('Datasets/Surface Temperatures/TempAnomaly.csv')

fig = go.FigureWidget(data=go.Bar(
    x=gta["Year"],
    y=gta["Anomaly"],
    marker=dict(color=np.where(gta["Anomaly"] > 0, 'crimson', 'blue'))
))

fig.show()

In [24]:
df2 = pd.read_csv('Datasets/Surface Temperatures/temp_country_year.csv')

In [40]:
df2

,Country,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,NaN,NaN,21.632099,14.592006,17.120819,17.183089,17.731436,17.179674,17.516002,...,15.470713,15.703472,15.745001,15.874431,16.017048,15.956199,15.738218,16.638347,16.411971,11.292207
1,Algeria,18.010245,17.454082,18.256225,17.466410,18.213087,17.859007,18.099381,17.866677,18.537309,...,18.266804,17.903299,17.562046,18.654437,18.234394,18.481649,18.303541,17.944701,18.250796,15.154909
2,Argentina,16.529017,17.067927,17.320014,16.592377,16.617048,16.911951,17.468595,17.145092,16.653032,...,17.387141,17.642198,17.186206,17.577738,17.728604,16.778245,17.883425,17.572566,17.283019,20.278015
3,Australia,16.419919,16.267862,16.791555,16.800922,16.973133,16.827011,16.846359,17.019238,16.921947,...,17.002454,16.824148,17.464404,17.534877,17.299457,17.471769,17.505708,17.424112,17.715162,19.701395
4,Austria,10.113295,8.680433,9.791775,10.591966,10.447268,11.523715,10.404011,11.104328,10.756316,...,10.652414,11.016772,10.736311,11.800259,11.847103,11.184137,11.255807,11.970235,12.145301,7.959084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,Uzbekistan,15.000721,13.952794,15.340040,15.141949,15.654382,15.957270,16.236013,16.087483,15.590640,...,15.742696,14.924678,16.212028,14.772604,16.212600,16.722772,15.885342,15.831523,16.627383,11.982372
121,Venezuela,25.817590,26.884258,26.754225,27.041768,26.116422,26.765168,27.910180,27.713528,27.841310,...,26.930693,27.471637,27.166972,27.018832,27.483890,27.681795,28.218787,26.657596,26.524966,26.809780
122,Vietnam,23.513802,23.492791,24.358669,24.988002,24.367794,23.518876,23.484233,23.969973,24.423035,...,23.090978,24.015256,24.052240,24.140810,25.050681,24.794270,24.527307,24.557025,25.126223,22.280993
123,Yugoslavia,11.669598,10.964229,11.201232,11.998622,12.043775,13.653055,12.098632,12.990601,11.917639,...,12.291898,13.127497,12.959066,13.327818,13.302937,12.799723,13.040621,13.668058,13.807507,8.856206
124,Zambia,22.767111,22.552199,22.721622,23.773578,22.045029,22.739222,22.554206,21.636571,20.695402,...,20.797824,20.979780,21.464158,22.522222,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
d = pd.concat([df2['Country'], df2.iloc[:,-8:]], axis=1)

In [63]:
parsed = parsed.iloc[:, :272]

,Country,1743,1744,1745,1746,1747,1748,1749,1750,1751,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
84,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.649917,24.634583,24.495417,24.732083,24.649917,24.406,25.146667,25.050833,24.415583,24.640833

In [64]:
parsed[parsed["Country"] == "India"] + d[d["Country"] == "India"]

,1743,1744,1745,1746,1747,1748,1749,1750,1751,1752,...,2013,2014,2015,2016,2017,2018,2019,2020,Country,Unnamed: 257
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
pd.concat([parsed[parsed["Country"] == "India"], pd.DataFrame(d[d["Country"] == "India"]).iloc[:,1]], axis=1)

,Country,1743,1744,1745,1746,1747,1748,1749,1750,1751,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
84,India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.634583,24.495417,24.732083,24.649917,24.406,25.146667,25.050833,24.415583,24.640833,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.764624

In [75]:
countries = df2['Country']

ddd = pd.DataFrame()

for c in countries:
    ddd = pd.concat([ddd, parsed[parsed["Country"] == c]], axis=0)

ddd.reset_index(drop=True, inplace=True)
ddd

,Country,1743,1744,1745,1746,1747,1748,1749,1750,1751,...,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
0,Albania,8.620,14.061875,5.58825,NaN,NaN,NaN,NaN,13.097909,13.57325,...,13.626583,13.258167,12.747083,12.976917,13.890500,13.955167,13.844250,13.775417,13.443250,13.768250
1,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.393667,23.916000,24.222583,24.200833,24.065333,23.950250,24.154333,25.215667,24.144167,23.954833
2,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.518333,15.442167,15.112833,15.561083,14.628083,15.476000,15.534417,15.078833,15.339667,15.689000
3,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.440333,22.286917,22.896833,22.264417,22.486750,22.225917,22.690583,22.078167,21.767000,22.024500
4,Austria,2.482,7.784750,-0.97725,NaN,NaN,NaN,NaN,6.983545,7.18500,...,7.509333,6.906083,6.609500,7.277583,7.976500,7.801917,7.616000,6.649083,7.855583,7.611333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.604667,18.060833,18.194417,18.240417,17.516167,18.280500,17.871333,17.920083,17.824583,18.509000
107,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.157667,14.442000,14.044000,13.786250,13.928333,13.309000,13.700333,14.325917,13.141083,13.144167
108,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.008333,25.817833,26.019417,25.849917,25.854083,25.648250,26.084917,26.150250,25.677333,25.688583
109,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.497750,24.056917,24.298000,24.523083,24.302167,23.784000,24.465583,24.833333,23.692583,24.704333
110,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.156750,21.768083,22.813500,21.784250,21.838500,21.535833,21.670250,22.267500,21.771583,21.697750

In [77]:
countries = ddd['Country']

d3 = pd.DataFrame()

for c in countries:
    d3 = pd.concat([d3, df2[df2["Country"] == c]], axis=0)

d3.reset_index(drop=True, inplace=True)
d3

,Country,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Albania,NaN,NaN,21.632099,14.592006,17.120819,17.183089,17.731436,17.179674,17.516002,...,15.470713,15.703472,15.745001,15.874431,16.017048,15.956199,15.738218,16.638347,16.411971,11.292207
1,Algeria,18.010245,17.454082,18.256225,17.466410,18.213087,17.859007,18.099381,17.866677,18.537309,...,18.266804,17.903299,17.562046,18.654437,18.234394,18.481649,18.303541,17.944701,18.250796,15.154909
2,Argentina,16.529017,17.067927,17.320014,16.592377,16.617048,16.911951,17.468595,17.145092,16.653032,...,17.387141,17.642198,17.186206,17.577738,17.728604,16.778245,17.883425,17.572566,17.283019,20.278015
3,Australia,16.419919,16.267862,16.791555,16.800922,16.973133,16.827011,16.846359,17.019238,16.921947,...,17.002454,16.824148,17.464404,17.534877,17.299457,17.471769,17.505708,17.424112,17.715162,19.701395
4,Austria,10.113295,8.680433,9.791775,10.591966,10.447268,11.523715,10.404011,11.104328,10.756316,...,10.652414,11.016772,10.736311,11.800259,11.847103,11.184137,11.255807,11.970235,12.145301,7.959084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Uruguay,15.377127,15.673191,16.088932,15.535380,15.419496,15.810151,16.644393,16.176113,15.874725,...,16.304602,17.142782,16.487025,17.192017,17.151856,16.497389,17.648172,17.004698,16.801804,19.720613
107,Uzbekistan,15.000721,13.952794,15.340040,15.141949,15.654382,15.957270,16.236013,16.087483,15.590640,...,15.742696,14.924678,16.212028,14.772604,16.212600,16.722772,15.885342,15.831523,16.627383,11.982372
108,Venezuela,25.817590,26.884258,26.754225,27.041768,26.116422,26.765168,27.910180,27.713528,27.841310,...,26.930693,27.471637,27.166972,27.018832,27.483890,27.681795,28.218787,26.657596,26.524966,26.809780
109,Vietnam,23.513802,23.492791,24.358669,24.988002,24.367794,23.518876,23.484233,23.969973,24.423035,...,23.090978,24.015256,24.052240,24.140810,25.050681,24.794270,24.527307,24.557025,25.126223,22.280993
110,Zambia,22.767111,22.552199,22.721622,23.773578,22.045029,22.739222,22.554206,21.636571,20.695402,...,20.797824,20.979780,21.464158,22.522222,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
p = pd.read_csv('Datasets/Surface Temperatures/GlobalMeanTemp.csv')
p.index = p["Year"]
p.loc[2013]["MeanTemp"]

19.85089675160698